# System files
Thumbs.db
Desktop.ini
.DS_Store

# Removed individual portrait headshots
gunabalan.jpeg
images/gunabalan.jpeg
hariprasath.jpeg
images/hariprasath.jpeg
keshavraj.jpeg
images/keshavraj.jpeg
krishnahari.jpeg
images/krishnahari.jpeg
lakshamana narayanan.jpeg
images/lakshamana narayanan.jpeg
meenatchisundaram.jpeg
images/meenatchisundaram.jpeg
mohameedasif.jpeg
images/mohameedasif.jpeg
mukilan.jpeg
images/mukilan.jpeg
sivashankaran.jpeg
images/sivashankaran.jpeg
