# System files
Thumbs.db
Desktop.ini
.DS_Store

# Removed individual portrait headshots
gunabalan.jpeg
hariprasath.jpeg
keshavraj.jpeg
krishnahari.jpeg
lakshamana narayanan.jpeg
meenatchisundaram.jpeg
mohameedasif.jpeg
mukilan.jpeg
sivashankaran.jpeg
